*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}
header {
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo img{
    margin-top: 2.9rem;
    width: 180px;
    height: 100%;
}
header .menu ul{
    margin-top: 2.9rem;

    display: flex;
}
header .menu ul li{
    list-style: none;
    padding: 0 20px;
}
header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.1rem;

}

/* ----- Main ------- */

#home .container{
    width: 100%;

    height: 100vh;
    background: linear-gradient(28.15deg, #252424 36.62%,  #9B0E18 50.61%);
}